*{					
    padding: 0px;
    margin: 0px;
}
body, html {
   margin:0; padding:0; width:100%; height:100%;
}
.search_header {
    max-width: 100%;
    height: 70px;
    background: #F3F3F3;
    display: none;
}

form input:focus {
    outline: none;
}
.menu_header{
    width: 100%;
    height: 50px;
}
.menubar_btn{
    text-align: right;
    padding: 10px;
}
.menu_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display: none;
}
.sidebar_menu{
    width: 30%;
    height: 100%;
    background: #f3f3f3;
    position: absolute;
    top:0;
    right: -50%;   
}
.close_btn{
    width: 25px;
    height: 25px;
    margin:10px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_wrap{
    list-style: none;
    padding: 20px 20px;  
    border-bottom: 1px solid black;
}
.menu_wrap li{
    border-top: 1px solid black;
    padding: 30px 0;
}

.menu_wrap li a{
    color: black;
    text-decoration: none;
}

header .wapper { /*https://ironsky.tistory.com/21*/
    width: 1170px;
    margin: auto;
}
#logo {
    float:left;
    max-width:100%;
    height: auto; /*원래 50p x로 함.*/
    padding-left: 2%;
    padding-bottom: 10px;
}
header .main_menu {
    padding-left: 30px;
    float: left;
    padding-top: 30px;
}
header ul {
    list-style:none; /* list의 앞에 점을 없애줌 */
    text-align: center; /*위치를 가운데로 옮김*/
}
header ul li a{
    text-decoration:none;
    color:black;            
}
.sub_menu { /*http://blog.naver.com/PostView.nhn?blogId=degal903&logNo=221358939762&parentCategoryNo=&categoryNo=49&viewDate=&isShowPopularPosts=true&from=search*/
    margin: 0;
    padding: 0;
    text-align: center;
    width:13%;
    background-color: #F3F3F3;
    
}

.sub_menu li {
	padding: 2px;
	text-align: center;
	border-bottom: solid 1px #CDCDCD;
}

.main_menu {
	width: 65%;
	padding: 0px;
	display:inline;
}

.main_menu > li {
    /*display:inline; 가로로 나열*/
    float: left;
    /*border: 1px solid red;*/
    width: 20%;
    text-transform:uppercase;
    letter-spacing:10px; /*글씨를 띄워놓음*/
    font-size: 1.5vw;
    font-family: '맑은 고딕', 'Nanum Gothic';
    margin-right: 0%;
    margin-left: 10%;
}
.main_menu > li > a {
   display: block;
   padding: 8px 0;
   text-align: center;
}
#menubar {
    float: left;
    max-width: 100%;
    height: auto;
    padding-top: 30px;
    padding-left: 20px;
}
#search_img {
    float: left;
    padding-top: 40px;
    padding-left: 0px;
}
section{ flex: 1; } 


footer{
    /*border-top:1px solid #002187;*/
    background-color: #F3F3F3;
    position: bottom;
    bottom: 0;
    width: 100%;
    text-align: center;	
    clear: both;
    padding: 20px 0;
}
.work_sub_menu, .trade_sub_menu {display:none;}